spring:
  main:
    allow-bean-definition-overriding: true

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console


  jpa:
    database-platform: org.hibernate.dialect.H2Dialect # 이 줄이 에러를 직접 해결합니다!
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    org:
      hibernate:
        orm.jdbc.bind: trace